<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util-2.0.xsd 
    ">

	<bean id="institutionController" class="com.richard.controller.InstitutionController" scope="prototype" autowire="byType" />
	
	<bean id="institutionService" class="com.richard.service.impl.InstitutionServiceImpl" autowire="byType" />
	
	<bean id="institutionDao" class="com.richard.dao.impl.InstitutionDaoImpl" autowire="byType" />	

 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Rest Template -->
	<bean id="httpClientParams" class="org.apache.commons.httpclient.params.HttpClientParams">
        <property name="connectionManagerClass" value="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager"/>
    </bean>
    
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
        <constructor-arg ref="httpClientParams"/>
    </bean>
    
    <bean id="httpClientFactory" class="org.springframework.http.client.CommonsClientHttpRequestFactory">
        <constructor-arg ref="httpClient"/>
    </bean>
 
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" autowire="byType">
        <constructor-arg ref="httpClientFactory"/>
    </bean>

	<!-- Internacionalizacao -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource" autowire="byName">
      <property name="basename" value="classpath:i18n/messages" />
      <property name="defaultEncoding" value="ISO-8859-1"/>
  	</bean>
 
  	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
      <property name="paramName" value="lang" />
  	</bean>
 
  	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
      <property name="defaultLocale" value="en"/>
  	</bean>
 
  	<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
      <property name="interceptors">
          <ref bean="localeChangeInterceptor" />
      </property>
  	</bean>
</beans>