<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util-2.0.xsd 
    ">

	<!-- Controllers -->
	
	<bean id="institutionController" class="com.richard.controller.InstitutionController" autowire="byType" scope="prototype" />
	
	<!-- Services -->
	
	<bean id="institutionService" class="com.richard.service.impl.InstitutionServiceImpl" autowire="byType" />
	
	<!-- Daos -->
	
	<bean id="institutionDao" class="com.richard.dao.impl.InstitutionDaoImpl" autowire="byType" />

	<!-- Validators -->
	
	<bean id="institutionValidator" class="com.richard.validator.InstitutionValidator" autowire="byType" />
	
	<!-- Configurations -->

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
	      <list>
	        <value>
	          	classpath:properties/appconfig.properties
	        </value>
	      </list>
	    </property>
    </bean>

</beans>